




.ingredients {
    display: flex;
    flex-direction: column;
    width: 280px;
    min-height: 990px;
    background: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;
    padding: 28px 20px 32px;
}