.products {
    width: 320px;
    padding: 60px 20px;
    margin: 0 auto;
    background-image: url(../images/products/background-mobile-1.jpg), url(../images/products/background-mobile-2.jpg), url(../images/products/background-mobile-3.jpg);
    background-position: top 0 right 0, top 700px right 0, bottom 0 right 0;
    background-repeat: no-repeat;
    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            & {
                background-image: url(../images/products/background-mobile-1@2x.jpg), url(../images/products/background-mobile-2@2x.jpg), url(../images/products/background-mobile-3@2x.jpg);
                background-position: top 0 right 0, top 700px right 0, bottom 0 right 0;
                background-size: contain;
            }
        }
}
.products__description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    color: #131313;
    margin-bottom: 12px;
}
.products__title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #131313;
    margin-bottom: 148px;
}
.products__item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 280px;
    min-height: 420px;
    padding: 123px 40px 12px;
    background-color: #AEC6A5;
    border-radius: 24px;
    margin-bottom: 164px;
    align-items: center;
    &::after {
        content: '';
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-image: url(../images/products/ice-cream.png);
        background-position: center;
        background-size: cover;
        top: -108px;
    @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                & {
                    background-image: url(../images/products/ice-cream@2x.png);
                    background-size: cover;
                }
            }
    }
    &::before {
        content: '';
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        top: -97px;
        background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
        box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
    }
    &:nth-child(2n) {
        background-color: #EFD478;
        &::after {
            background-image: url(../images/products/ice-coffe.png);
            @media (min-device-pixel-ratio: 2),
                (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    & {
                        background-image: url(../images/products/ice-coffe@2x.png);
                        background-size: cover;
                    }
                }
        }
        &::before {
            background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
            box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
        }
    }
    &:last-child {
        margin-bottom: 0;
        background-color: #D6936D;
        &::after {
            background-image: url(../images/products/milkhakes.png);
            @media (min-device-pixel-ratio: 2),
                (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    & {
                        background-image: url(../images/products/milkhakes@2x.png);
                        background-size: cover;
                    }
                }
            }
        &::before {
            background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
            box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
        }
    }
}
.products__item__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #131313;
    margin-bottom: 40px;
}
.products__item__description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 176%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #131313;
}
.products__item__btn {
    position: relative;
    cursor: pointer;
    width: 60px;
    height: 22px;
    border: transparent;
    background-color: inherit;
    margin-top: auto;
    padding: 0;
    &:hover {
        .products__item__btn__icone__default {
            opacity: 0;
        }
        .products__item__btn__icone__hover {
            opacity: 1;
        }
    }
    &:focus {
        .products__item__btn__icone__default,
        .products__item__btn__icone__hover {
            opacity: 0;
        }
        .products__item__btn__icone__focus {
            opacity: 1;
        }
    }
}
.products__item__btn__icone__hover,
.products__item__btn__icone__focus {
    opacity: 0;
}
.products__item__btn__svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
    .products {
        width: 768px;
        height: auto;
        padding-left: 32px;
        padding-right: 32px;
        background-image: url(../images/products/background-tablet.jpg);
        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                & {
                    background-image: url(../images/products/background-tablet@2x.jpg);
                    background-size: cover;
                }
            }
    }
    .products__list {
        display: flex;
        gap: 16px;
    }
    .products__description {
        font-size: 22px;
        margin-bottom: 12px;
    }
    .products__title {
        font-size: 34px;
        margin-bottom: 200px;
    }
    .products__item {
        width: 224px;
        min-height: 428px;
        padding: 108px 26px 12px;
        margin-bottom: 0;
        &::after {
            top: -120px;
        }
        &::before {
            top: -109px;
        }
    }
}
@media screen and (min-width: 1200px) {
    .products {
        width: 1200px;
        padding-left: 16px;
        padding-right: 16px;
        background-image: url(../images/products/background-desktop.jpg);
        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                & {
                    background-image: url(../images/products/background-desktop@2x.jpg);
                    background-size: cover;
                }
            }
    }
    .products-list {
        gap: 32px;
    }
    .products__description {
        font-size: 30px;
        line-height: 1.23;
        margin-bottom: 12px;
    }
    .products__title {
        font-size: 36px;
        line-height: 1.25;
        margin-bottom: 303px;
    }
    .products__item {
        width: 370px;
        min-height: 535px;
        padding: 166px 62px 52px;
        margin-bottom: 0;
        &::after {
            width: 300px;
            height: 300px;
            top: -183px;
        }
        &::before {
            width: 300px;
            height: 300px;
            top: -166px;
        }
    }
}